<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Dog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <form th:object="${dogDTO}" method="post" th:action="@{/dog/save}" >
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="chipCode">Chip code</label>
            <input type="text" class="form-control" id="chipCode" maxlength="15" aria-describedby="code-help" placeholder="Enter code" th:field="*{chipCode}">
            <small id="code-help" class="form-text text-muted">Valid code includes 15 numbers.</small>
            <small th:if="${#fields.hasErrors('chipCode')}" th:errors="*{chipCode}" style="color:red"></small>
            <div th:if="${errors}">
                <small th:text="${errors}" style="color:red"></small>
            </div>
        </div>
        <div class="form-group">
            <label for="ageInMonth">Age</label>
            <input type="number" class="form-control" id="ageInMonth" aria-describedby="age-help" placeholder="Age in month" th:field="*{ageInMonth}">
            <small id="age-help" class="form-text text-muted">Age is calculated in months.</small>
            <small th:if="${#fields.hasErrors('ageInMonth')}" th:errors="*{ageInMonth}" style="color:red"></small>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-select" id="gender" aria-describedby="gender-help" th:field="*{gender}">
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
            <small id="gender-help" class="form-text text-muted">You have to choose the dog's gender.</small>
        </div>
        <div class="form-group">
            <label for="ranch">Ranch</label>
            <select class="form-select" id="ranch" aria-describedby="ranch-help" th:field="*{ranchDTOId}">
                <option th:each="ranch : ${dogDTO.getRanchDTOS()}" th:value="${ranch.id}" th:text="${ranch}"></option>
            </select>
            <small id="ranch-help" class="form-text text-muted">You have to choose the dog's accommodation.</small>
        </div>
        <div class="form-group">
            <label for="breed">Breed</label>
            <select class="form-select" id="breed" aria-describedby="breed-help" th:field="*{breedDTOId}">
                <option th:each="breed : ${dogDTO.getBreedDTOs()}" th:value="${breed.id}" th:text="${breed}"></option>
            </select>
            <small id="breed-help" class="form-text text-muted">You have to choose the dog's breed.</small>
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>